# Ignore doc files
docs/

# Ignore large files
torch_*.dll
torch_*.lib
cv2.pyd
opencv_*.dll
*.docx
*.pdf

# Ignore other files
.vscode/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*~

# Ignore environment files
lunar_env/

# Ignore IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build files
build/
dist/
*.egg-info/

# Ignore test files
coverage/
.tox/

